In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [6]:
series=Series(['1','4',np.nan,'5'])

In [7]:
series

0      1
1      4
2    NaN
3      5
dtype: object

In [8]:
series.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [9]:
series.dropna()

0    1
1    4
3    5
dtype: object

In [19]:
dframe=DataFrame([[1,2,3],[np.nan,5,np.nan],[1,4,5]])

In [20]:
dframe

     0  1    2
0  1.0  2  3.0
1  NaN  5  NaN
2  1.0  4  5.0

In [21]:
dframe.dropna()

     0  1    2
0  1.0  2  3.0
2  1.0  4  5.0

In [22]:
dframe

     0  1    2
0  1.0  2  3.0
1  NaN  5  NaN
2  1.0  4  5.0

In [23]:
dframe.dropna(how='all')

     0  1    2
0  1.0  2  3.0
1  NaN  5  NaN
2  1.0  4  5.0

In [24]:
dframe.dropna(axis=1)

   1
0  2
1  5
2  4

In [27]:
dframe.dropna(thresh=2)

     0  1    2
0  1.0  2  3.0
2  1.0  4  5.0

In [28]:
dframe.fillna(1)

     0  1    2
0  1.0  2  3.0
1  1.0  5  1.0
2  1.0  4  5.0

In [29]:
dframe

     0  1    2
0  1.0  2  3.0
1  NaN  5  NaN
2  1.0  4  5.0

In [36]:
dframe.fillna({0:0,1:1,2:2},inplace=True)

     0  1    2
0  1.0  2  3.0
1  0.0  5  0.0
2  1.0  4  5.0

In [37]:
dframe

     0  1    2
0  1.0  2  3.0
1  0.0  5  0.0
2  1.0  4  5.0

In [38]:
# Index Heirarchy
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
from numpy.random import randn

In [45]:
heirarchy=Series(np.random.rand(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [42]:
heirarchy

1  a    0.106538
   b    0.331682
   c    0.842253
2  a    0.375517
   b    0.129918
   c    0.359863
dtype: float64

In [46]:
heirarchy.index

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [47]:
heirarchy[0]

0.019137645291447236

In [48]:
heirarchy[1]

a    0.019138
b    0.685149
c    0.021925
dtype: float64

In [49]:
heirarchy[2]

a    0.981983
b    0.519027
c    0.922835
dtype: float64

In [50]:
heirarchy[:,'a']

1    0.019138
2    0.981983
dtype: float64

In [51]:
heirarchy[:,'b']

1    0.685149
2    0.519027
dtype: float64

In [ ]:
heirarchy[:,'c']

1    0.021925
2    0.922835
dtype: float64

In [55]:
dataframe=heirarchy.unstack()

In [56]:
dataframe

          a         b         c
1  0.019138  0.685149  0.021925
2  0.981983  0.519027  0.922835

In [57]:
dataframe.unstack()

a  1    0.019138
   2    0.981983
b  1    0.685149
   2    0.519027
c  1    0.021925
   2    0.922835
dtype: float64

In [62]:
dfram=DataFrame(np.arange(16).reshape(4,4),index=[['a','b','a','b'],[1,1,2,2]],columns=[['PK','PK','AI','AI'],['cold','hot','hot','cold']])

In [63]:
dfram

      PK      AI
    cold hot hot cold
a 1    0   1   2    3
b 1    4   5   6    7
a 2    8   9  10   11
b 2   12  13  14   15

In [64]:
dfram.index.names=['index1','index2']

In [65]:
dfram.columns.names=['city','temp']

In [66]:
dfram

city            PK      AI
temp          cold hot hot cold
index1 index2
a      1         0   1   2    3
b      1         4   5   6    7
a      2         8   9  10   11
b      2        12  13  14   15

In [67]:
dfram.swaplevel('temp','city',axis=1)

temp          cold hot     cold
city            PK  PK  AI   AI
index1 index2
a      1         0   1   2    3
b      1         4   5   6    7
a      2         8   9  10   11
b      2        12  13  14   15

In [72]:
dfram.sort_index(1)

city            AI       PK
temp          cold hot cold hot
index1 index2
a      1         3   2    0   1
b      1         7   6    4   5
a      2        11  10    8   9
b      2        15  14   12  13

In [73]:
dfram.sum(level='temp',axis=1)

temp           cold  hot
index1 index2
a      1          3    3
b      1         11   11
a      2         19   19
b      2         27   27