In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [6]:
arr1=np.array([[np.nan,1,5],[6,7,np.nan]])

In [7]:
dframe1=DataFrame(arr1,index=['A','B'],columns=['one','two','three'])

In [8]:
dframe1

   one  two  three
A  NaN  1.0    5.0
B  6.0  7.0    NaN

In [9]:
dframe1.sum(axis=1)

A     6.0
B    13.0
dtype: float64

In [10]:
dframe1.min()

one      6.0
two      1.0
three    5.0
dtype: float64

In [12]:
dframe1.cumsum

<bound method DataFrame.cumsum of    one  two  three
A  NaN  1.0    5.0
B  6.0  7.0    NaN>

In [13]:
# provide summary statistics (very useful picture)
dframe1.describe()

       one       two  three
count  1.0  2.000000    1.0
mean   6.0  4.000000    5.0
std    NaN  4.242641    NaN
min    6.0  1.000000    5.0
25%    6.0  2.500000    5.0
50%    6.0  4.000000    5.0
75%    6.0  5.500000    5.0
max    6.0  7.000000    5.0