In [1]:
import pandas as pd
from pandas import DataFrame,Series

In [20]:
set=pd.read_csv('Salaries.csv',dtype='unicode')

In [22]:
set

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.0,8601.0,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.0,51322.5,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.0,0.0,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.9,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.0,87082.62,110804.3,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN
12,13,EDWARD HARRINGTON,EXECUTIVE CONTRACT EMPLOYEE,294580.02,0.0,0.0,NaN,294580.02,294580.02,2011,NaN,San Francisco,NaN
13,14,JOHN MARTIN,DEPARTMENT HEAD V,271329.03,0.0,21342.59,NaN,292671.62,292671.62,2011,NaN,San Francisco,NaN
14,15,DAVID FRANKLIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,74050.3,37424.11,NaN,286347.05,286347.05,2011,NaN,San Francisco,NaN
15,16,RICHARD CORRIEA,"COMMANDER III, (POLICE DEPARTMENT)",198778.01,73478.2,13957.65,NaN,286213.86,286213.86,2011,NaN,San Francisco,NaN
16,17,AMY HART,DEPARTMENT HEAD V,268604.57,0.0,16115.86,NaN,284720.43,284720.43,2011,NaN,San Francisco,NaN
17,18,SEBASTIAN WONG,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.87,119397.26,18625.08,NaN,278569.21,278569.21,2011,NaN,San Francisco,NaN
18,19,MARTY ROSS,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,69626.12,38115.47,NaN,276434.22,276434.22,2011,NaN,San Francisco,NaN
19,20,ELLEN MOFFATT,ASSISTANT MEDICAL EXAMINER,257510.59,880.16,16159.5,NaN,274550.25,274550.25,2011,NaN,San Francisco,NaN
20,21,VENUS AZAR,ASSISTANT MEDICAL EXAMINER,257510.48,0.0,16679.79,NaN,274190.27,274190.27,2011,NaN,San Francisco,NaN
21,22,JUDY MELINEK,ASSISTANT MEDICAL EXAMINER,257510.44,377.21,15883.56,NaN,273771.21,273771.21,2011,NaN,San Francisco,NaN
22,23,GEORGE GARCIA,"CAPTAIN, FIRE SUPPRESSION",140546.88,93200.58,39955.25,NaN,273702.71,273702.71,2011,NaN,San Francisco,NaN
23,24,VICTOR WYRSCH,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,77896.14,24083.86,NaN,270672.63,270672.63,2011,NaN,San Francisco,NaN
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN
25,26,GREGORY SUHR,CHIEF OF POLICE,256470.41,0.0,11522.18,NaN,267992.59,267992.59,2011,NaN,San Francisco,NaN
26,27,JOHN HANLEY,"CAPTAIN, FIRE SUPPRESSION",92080.8,40008.0,133695.76,NaN,265784.56,265784.56,2011,NaN,San Francisco,NaN
27,28,RAYMOND GUZMAN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.59,80706.88,16063.99,NaN,265463.46,265463.46,2011,NaN,San Francisco,NaN
28,29,DENISE SCHMITT,DEPUTY CHIEF III (POLICE DEPARTMENT),261717.6,0.0,2357.0,NaN,264074.6,264074.6,2011,NaN,San Francisco,NaN
29,30,MONICA FIELDS,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",246225.6,0.0,15140.54,NaN,261366.14,261366.14,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148624,148625,Lorraine Rosenthal,Senior Clerk,0.00,0.00,12.89,0.00,12.89,12.89,2014,NaN,San Francisco,PT
148625,148626,Renato C Gurion,Registered Nurse,0.00,0.00,6.00,1.24,6.0,7.24,2014,NaN,San Francisco,PT
148626,148627,Paulet Gaines,Account Clerk,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148627,148628,Brett A Lundberg,General Laborer,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148628,148629,Mark W Mcclure,General Laborer,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148629,148630,Elizabeth Iniguez,Transcriber Typist,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148630,148631,Randy J Keys,Carpenter,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148631,148632,Andre M Johnson,Communications Dispatcher 1,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148632,148633,Sharon D Owens-Webster,Protective Services Worker,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148633,148634,Edward Ferdinand,General Laborer,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148634,148635,David M Turner,Transit Car Cleaner,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148635,148636,James S Kibblewhite,General Laborer,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148636,148637,Andrew J Enzi,Arborist Technician,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148637,148638,Kadeshra D Green,Transit Fare Inspector,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148638,148639,Lennard B Hutchinson,Electrician,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148639,148640,Richard A Talbert,Custodian,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148640,148641,Charlene D Mccully,Parking Control Officer,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148641,148642,Raphael Marquis Goins,Museum Guard,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148642,148643,Dominic C Marquez,Sign Worker,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148643,148644,Kim Brewer,Parking Control Officer,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148644,148645,Randy D Winn,"Stationary Eng, Sewage Plant",0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148646,148647,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014,NaN,San Francisco,NaN
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [4]:
set.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [7]:
set['BasePay']

0            167411.18
1            155966.02
2            212739.13
3              77916.0
4             134401.6
5             118602.0
6             92492.01
7            256576.96
8            176932.64
9             285262.0
10           194999.39
11             99722.0
12           294580.02
13           271329.03
14           174872.64
15           198778.01
16           268604.57
17           140546.87
18           168692.63
19           257510.59
20           257510.48
21           257510.44
22           140546.88
23           168692.63
24           140546.86
25           256470.41
26             92080.8
27           168692.59
28            261717.6
29            246225.6
              ...
148624            0.00
148625            0.00
148626            0.00
148627            0.00
148628            0.00
148629            0.00
148630            0.00
148631            0.00
148632            0.00
148633            0.00
148634            0.00
148635            0.00
148636            0.00
148637            0.00
148638            0.00
148639            0.00
148640            0.00
148641            0.00
148642            0.00
148643            0.00
148644            0.00
148645            0.00
148646    Not Provided
148647            0.00
148648            0.00
148649            0.00
148650    Not Provided
148651    Not Provided
148652    Not Provided
148653            0.00
Name: BasePay, Length: 148654, dtype: object

In [10]:
set['BasePay'].max()

TypeError: '>=' not supported between instances of 'str' and 'float'

In [25]:
set['JobTitle']

0           GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                          CAPTAIN III (POLICE DEPARTMENT)
2                          CAPTAIN III (POLICE DEPARTMENT)
3                     WIRE ROPE CABLE MAINTENANCE MECHANIC
4             DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
5                                ASSISTANT DEPUTY CHIEF II
6                       BATTALION CHIEF, (FIRE DEPARTMENT)
7                           DEPUTY DIRECTOR OF INVESTMENTS
8                       BATTALION CHIEF, (FIRE DEPARTMENT)
9                   CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
10        ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
11                         CAPTAIN III (POLICE DEPARTMENT)
12                             EXECUTIVE CONTRACT EMPLOYEE
13                                       DEPARTMENT HEAD V
14                      BATTALION CHIEF, (FIRE DEPARTMENT)
15                      COMMANDER III, (POLICE DEPARTMENT)
16                                       DEPARTMENT HEAD V
17                   CAPTAIN, EMERGENCYCY MEDICAL SERVICES
18                      BATTALION CHIEF, (FIRE DEPARTMENT)
19                              ASSISTANT MEDICAL EXAMINER
20                              ASSISTANT MEDICAL EXAMINER
21                              ASSISTANT MEDICAL EXAMINER
22                               CAPTAIN, FIRE SUPPRESSION
23                      BATTALION CHIEF, (FIRE DEPARTMENT)
24                               CAPTAIN, FIRE SUPPRESSION
25                                         CHIEF OF POLICE
26                               CAPTAIN, FIRE SUPPRESSION
27                      BATTALION CHIEF, (FIRE DEPARTMENT)
28                    DEPUTY CHIEF III (POLICE DEPARTMENT)
29            DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                                ...
148624                                        Senior Clerk
148625                                    Registered Nurse
148626                                       Account Clerk
148627                                     General Laborer
148628                                     General Laborer
148629                                  Transcriber Typist
148630                                           Carpenter
148631                         Communications Dispatcher 1
148632                          Protective Services Worker
148633                                     General Laborer
148634                                 Transit Car Cleaner
148635                                     General Laborer
148636                                 Arborist Technician
148637                              Transit Fare Inspector
148638                                         Electrician
148639                                           Custodian
148640                             Parking Control Officer
148641                                        Museum Guard
148642                                         Sign Worker
148643                             Parking Control Officer
148644                        Stationary Eng, Sewage Plant
148645                           Human Services Technician
148646                                        Not provided
148647                         Communications Dispatcher 2
148648                                           Custodian
148649                                           Custodian
148650                                        Not provided
148651                                        Not provided
148652                                        Not provided
148653                          Counselor, Log Cabin Ranch
Name: JobTitle, Length: 148654, dtype: object

In [29]:
set[set['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [38]:
set[set['EmployeeName']=='JOSEPH DRISCOLL']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN

In [39]:
set[set['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: object

In [51]:
set['TotalPayBenefits'].max()

'99999.81'

In [55]:
set[set['TotalPayBenefits']==set['TotalPayBenefits'].max()]['EmployeeName']

92261    Mohammed H Khan
Name: EmployeeName, dtype: object

In [57]:
set[set['EmployeeName']=='JOSEPH DRISCOLL']['BasePay']

24    140546.86
Name: BasePay, dtype: object

In [58]:
set.loc[set['TotalPayBenefits'].idxmax()]

Id                              92262
EmployeeName          Mohammed H Khan
JobTitle            Parts Storekeeper
BasePay                       64827.0
OvertimePay                   6379.37
OtherPay                       1898.4
Benefits                     26895.04
TotalPay                     73104.77
TotalPayBenefits             99999.81
Year                             2013
Notes                             NaN
Agency                  San Francisco
Status                            NaN
Name: 92261, dtype: object

In [60]:
set.iloc[set['TotalPayBenefits'].argmin()]

Id                            110529
EmployeeName        Timothy E Gibson
JobTitle            Police Officer 3
BasePay                          NaN
OvertimePay                      0.0
OtherPay                         0.0
Benefits                       -2.73
TotalPay                         0.0
TotalPayBenefits               -2.73
Year                            2013
Notes                            NaN
Agency                 San Francisco
Status                           NaN
Name: 110528, dtype: object

In [63]:
set[set['TotalPayBenefits']==set['TotalPayBenefits'].min()]['EmployeeName']

110528    Timothy E Gibson
Name: EmployeeName, dtype: object

In [64]:
set.groupby('Year').mean()

DataError: No numeric types to aggregate

In [66]:
set['JobTitle'].nunique()

2159

In [67]:
set['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [80]:
set['Year']==2011.value_counts().head(4)

SyntaxError: invalid syntax (<ipython-input-80-031fbc26d94f>, line 1)

In [108]:
set[set['Year']=='2014']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,NaN,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,NaN,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.7,436224.36,2014,NaN,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,NaN,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.1,2014,NaN,San Francisco,FT
110536,110537,Ellen G Moffatt,Asst Med Examiner,270222.04,6009.22,67956.20,71580.48,344187.46,415767.94,2014,NaN,San Francisco,FT
110537,110538,John L Martin,Dept Head V,311298.55,0.00,0.00,89772.32,311298.55,401070.87,2014,NaN,San Francisco,FT
110538,110539,Harlan L Kelly-Jr,Executive Contract Employee,310161.02,0.00,0.00,88823.51,310161.02,398984.53,2014,NaN,San Francisco,FT
110539,110540,Samson Lai,"Battalion Chief, Fire Suppress",179464.14,128685.99,27334.83,59876.90,335484.96,395361.86,2014,NaN,San Francisco,FT
110540,110541,David L Franklin,Asst Chf of Dept (Fire Dept),201566.88,97907.38,29916.28,64599.59,329390.54,393990.13,2014,NaN,San Francisco,FT
110541,110542,Edward D Reiskin,"Gen Mgr, Public Trnsp Dept",294000.18,0.00,0.00,85918.54,294000.18,379918.72,2014,NaN,San Francisco,FT
110542,110543,Yifang Qian,Senior Physician Specialist,198874.01,0.00,112776.35,62947.63,311650.36,374597.99,2014,NaN,San Francisco,FT
110543,110544,Richard L Corriea,Commander 3,184734.01,0.00,137409.09,51940.39,322143.1,374083.49,2014,NaN,San Francisco,PT
110544,110545,Raymond A Guzman,Dep Chf of Dept (Fire Dept),260728.04,0.00,26761.80,82974.58,287489.84,370464.42,2014,NaN,San Francisco,FT
110545,110546,Jose L Velo,"Battalion Chief, Fire Suppress",183333.82,100005.66,23760.13,61052.39,307099.61,368152.0,2014,NaN,San Francisco,FT
110546,110547,Bryan W Rubenstein,"Battalion Chief, Fire Suppress",177771.16,91547.61,36798.76,59664.91,306117.53,365782.44,2014,NaN,San Francisco,FT
110547,110548,Roland Pickens,"Administrator, DPH",282619.96,0.00,0.00,82941.18,282619.96,365561.14,2014,NaN,San Francisco,FT
110548,110549,Mark A Gonzales,Dep Chf of Dept (Fire Dept),260728.00,0.00,22933.73,81886.55,283661.73,365548.28,2014,NaN,San Francisco,FT
110549,110550,Barbara A Garcia,Dept Head V,279839.22,0.00,2164.54,82884.27,282003.76,364888.03,2014,NaN,San Francisco,FT
110550,110551,Edwin M Lee,Mayor,281537.17,0.00,0.00,83277.34,281537.17,364814.51,2014,NaN,San Francisco,FT
110551,110552,Thomas A Siragusa,Asst Chf of Dept (Fire Dept),207437.76,67712.84,20743.71,64549.50,295894.31,360443.81,2014,NaN,San Francisco,FT
110552,110553,Denise A Schmitt,Deputy Chief 3,268632.02,0.00,6192.08,80475.76,274824.1,355299.86,2014,NaN,San Francisco,FT
110553,110554,Lyn Tomioka,Deputy Chief 3,268632.00,0.00,6192.08,80475.74,274824.08,355299.82,2014,NaN,San Francisco,FT
110554,110555,Arthur W Kenney,Asst Chf of Dept (Fire Dept),207437.76,31868.28,49941.59,64549.50,289247.63,353797.13,2014,NaN,San Francisco,FT
110555,110556,Greg B Pizarro,Asst Med Examiner,233386.01,10794.09,40515.00,66559.68,284695.1,351254.78,2014,NaN,San Francisco,FT
110556,110557,Charlie Orkes,Deputy Chief 3,265729.53,0.00,6134.00,78447.40,271863.53,350310.93,2014,NaN,San Francisco,FT
110557,110558,Susan Currin,"Adm, SFGH Medical Center",268946.02,0.00,0.00,80581.73,268946.02,349527.75,2014,NaN,San Francisco,FT
110558,110559,Naomi M Kelly,Dept Head V,267914.01,0.00,0.00,80361.22,267914.01,348275.23,2014,NaN,San Francisco,FT
110559,110560,Trent E Rhorer,Dept Head V,267914.00,0.00,0.00,79799.88,267914.0,347713.88,2014,NaN,San Francisco,FT
110560,110561,Benjamin L Rosenfield,Controller,267914.00,0.00,0.00,79799.88,267914.0,347713.88,2014,NaN,San Francisco,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148624,148625,Lorraine Rosenthal,Senior Clerk,0.00,0.00,12.89,0.00,12.89,12.89,2014,NaN,San Francisco,PT
148625,148626,Renato C Gurion,Registered Nurse,0.00,0.00,6.00,1.24,6.0,7.24,2014,NaN,San Francisco,PT
148626,148627,Paulet Gaines,Account Clerk,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148627,148628,Brett A Lundberg,General Laborer,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148628,148629,Mark W Mcclure,General Laborer,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148629,148630,Elizabeth Iniguez,Transcriber Typist,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148630,148631,Randy J Keys,Carpenter,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148631,148632,Andre M Johnson,Communications Dispatcher 1,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148632,148633,Sharon D Owens-Webster,Protective Services Worker,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148633,148634,Edward Ferdinand,General Laborer,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148634,148635,David M Turner,Transit Car Cleaner,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148635,148636,James S Kibblewhite,General Laborer,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148636,148637,Andrew J Enzi,Arborist Technician,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148637,148638,Kadeshra D Green,Transit Fare Inspector,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148638,148639,Lennard B Hutchinson,Electrician,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148639,148640,Richard A Talbert,Custodian,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148640,148641,Charlene D Mccully,Parking Control Officer,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148641,148642,Raphael Marquis Goins,Museum Guard,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148642,148643,Dominic C Marquez,Sign Worker,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148643,148644,Kim Brewer,Parking Control Officer,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148644,148645,Randy D Winn,"Stationary Eng, Sewage Plant",0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148646,148647,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014,NaN,San Francisco,NaN
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.0,0.0,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.0,0.0,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [112]:
set[set['Year']==2013]['JobTitle']

Series([], Name: JobTitle, dtype: object)

In [114]:
def chiefstring(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [117]:
chiefstring('Chief General Manger')

True

In [119]:
set[['JobTitle','title_len']]

KeyError: "['title_len'] not in index"

In [132]:
set['title_len']=set['JobTitle'].apply(len)

In [133]:
set[['JobTitle','title_len']]

                                                JobTitle  title_len
0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY         46
1                        CAPTAIN III (POLICE DEPARTMENT)         31
2                        CAPTAIN III (POLICE DEPARTMENT)         31
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC         36
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         44
5                              ASSISTANT DEPUTY CHIEF II         25
6                     BATTALION CHIEF, (FIRE DEPARTMENT)         34
7                         DEPUTY DIRECTOR OF INVESTMENTS         30
8                     BATTALION CHIEF, (FIRE DEPARTMENT)         34
9                 CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)         38
10      ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)         48
11                       CAPTAIN III (POLICE DEPARTMENT)         31
12                           EXECUTIVE CONTRACT EMPLOYEE         27
13                                     DEPARTMENT HEAD V         17
14                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
15                    COMMANDER III, (POLICE DEPARTMENT)         34
16                                     DEPARTMENT HEAD V         17
17                 CAPTAIN, EMERGENCYCY MEDICAL SERVICES         37
18                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
19                            ASSISTANT MEDICAL EXAMINER         26
20                            ASSISTANT MEDICAL EXAMINER         26
21                            ASSISTANT MEDICAL EXAMINER         26
22                             CAPTAIN, FIRE SUPPRESSION         25
23                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
24                             CAPTAIN, FIRE SUPPRESSION         25
25                                       CHIEF OF POLICE         15
26                             CAPTAIN, FIRE SUPPRESSION         25
27                    BATTALION CHIEF, (FIRE DEPARTMENT)         34
28                  DEPUTY CHIEF III (POLICE DEPARTMENT)         36
29          DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         44
...                                                  ...        ...
148624                                      Senior Clerk         12
148625                                  Registered Nurse         16
148626                                     Account Clerk         13
148627                                   General Laborer         15
148628                                   General Laborer         15
148629                                Transcriber Typist         18
148630                                         Carpenter          9
148631                       Communications Dispatcher 1         27
148632                        Protective Services Worker         26
148633                                   General Laborer         15
148634                               Transit Car Cleaner         19
148635                                   General Laborer         15
148636                               Arborist Technician         19
148637                            Transit Fare Inspector         22
148638                                       Electrician         11
148639                                         Custodian          9
148640                           Parking Control Officer         23
148641                                      Museum Guard         12
148642                                       Sign Worker         11
148643                           Parking Control Officer         23
148644                      Stationary Eng, Sewage Plant         28
148645                         Human Services Technician         25
148646                                      Not provided         12
148647                       Communications Dispatcher 2         27
148648                                         Custodian          9
148649                                         Custodian          9
148650                                      Not provided         12
148651                                      Not provided         12
148652                                      Not provided         12
148653                        Counselor, Log Cabin Ranch         26

[148654 rows x 2 columns]

In [131]:
set[['EmployeeName','title_len']].corr()

           title_len
title_len        1.0

In [134]:
set[['JobTitle','title_len']].corr()

           title_len
title_len        1.0